@font-face {
  font-family: "BebasNeue";
  src: url("/fonts/BebasNeue.otf");
}
@font-face {
  font-family: "MaturaScriptCapitals";
  src: url("/fonts/MaturaMTScriptCapitals.ttf");
}
@font-face {
  font-family: "iconfont"; /* Project id 4356364 */
  src: url("/fonts/iconfont/iconfont.woff2") format("woff2"), url("/fonts/iconfont/iconfont.woff") format("woff"), url("/fonts/iconfont/iconfont.ttf") format("truetype");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.iconfont.icon-arrow-left::before {
  content: "\e75b";
}
.iconfont.icon-arrow-right::before {
  content: "\e75c";
}
.iconfont.icon-bangumi::before {
  content: "\e605";
}
.iconfont.icon-bilibili::before {
  content: "\e600";
}
.iconfont.icon-github::before {
  content: "\e799";
}
.iconfont.icon-rss::before {
  content: "\e6d0";
}
.iconfont.icon-zhihu::before {
  content: "\e765";
}